*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
html, body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /*<!-- 1st preference, default if not available, default if 1st 2 not available last is the family can embed a font into web page-->*/
  font-size:18px;
  line-height:30px; /*<!-- amount of space between lines of text -->*/
  color:#444; /*<!--dark grey easier on eyes-->
  text-shadow: 1px 1p 0px  #fff;/*<!--gives a slight white shadow to the text in html and body third number is bluriness-->*/
  /* Nice job commenting! However, you don't need the <!-- -->. That's only in HTML. */
}
body{
  text-align:center;
  background: url("rainbow_smoke.jpg");
  background-size: 100%;
}
h1{
  /*font-family: Cinzel;*/
  color: rgb(0,180,251);
  font-size:50px;
  line-height:50px;
  font-weight:bold;
}
h1 sub{
  color: rgb(191,0,186);
  vertical-align: baseline;
}
/*h1 sub:before{
  content: "";
  color:rgb(0,180,251);
}*/
h2{
  /*font-family: Cinzel;*/
  color: rgb(0,180,251);
  font-size:50px;
  line-height:50px;
  font-weight:bold;
}
h2 sub{
  color: rgb(191,0,186);
  vertical-align: baseline;
}
/* If you want both of your `sub` elements to look the same, there's no need to have both `h1 sub` and `h2 sub` selectors: just one `sub` selector, which will select every `sub` on the page. */
.green {
  color: rgb(0,225,138);
  vertical-align: baseline;
}
/* Specifying `baseline` is probably not necessary since it's the default. */
img{
  border-radius:50%;/*<!--20px will round corners-->*/
}
section {
  border-top: 2px dashed #eee;
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}
.hero{
  border: 0;
  padding: 0;
  /*outline: 1px solid red;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*<!--.hero{ the . selects the class no spaces in a class!!
   outline:1 px solid red; <!dif btwn outline overlaid on top doesn't take up room and move other things and boarder moves things around like inserting wall
   height: 100vh; view port height window using to look at it like size of screen 100%
   display: flex; css trick called flexbox gives you control how you want to align verticly/horizontally/to each other
   flex-direction: column; <! default flex box aligns everything in row
   justify-content: center;
}-->*/
.hero img{
  width: 100%;
  height: 100%; /*<!-- 100% the hero image should be width and height that is is inside this is so outline will fit image-->*/
}
.smile{
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s, box-shadow 1s;
  background-image:url("Spectrum Letter s.png");
  background-size: contain;
}
.smile:hover{
  transform:rotate(360deg);
  box-shadow: 0px 0px 100px 50px rgb(191,0,186),
              0px 0px 100px 20px rgb(0,180,251) inset,
              0px 0px 100px 100px #ff0;
}
.smile:hover img{ /* any image that is inside of smile*/
    opacity: 0;
  }
/*<!--.smile{
  width: 283px;
  height: 298px;
  border-radius: 50%;
  overflow: hidden; by default will make anything that overflows beyond border should be invisible so both border and picture will be round
  margin-left: auto;so the white square goes away and picture will be round
  margin-right: auto; websit should automatically figure out what margins should be default center
        outline:1px solid red;-
  transition: transform 1s, box-shadow 1s (glow fades) looks for property put in hover it will transition rotation will apply a little at a time
  background-image:url("new_image.jpg") this will put a pickture under the other
   background-size:contain; will contain the backround image into the container than it is inside not overflow
       then would add a new
.smile img {
  transition 1s; saying the opacity should transition over 1second
end squiggle
.smile:hover img{ any image inside smile
    opacity:0; fade image in gradually
-->*/

/*<!--background: url("http://i.imgur.com/E2alK0X.jpg");
 font-family: 'Passion One', cursive;-->*/
